<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index8.css">


    </style>
    <title>Quiz</title>
</head>

<body>
    <form action="/ques2" method="post">
        <div class="container">


            <div class="man"><img src="img/BusinessGuy.png" alt="" id="bGuy"></div>
            <div class="text-box"><img src="img/ques2.png" alt="" id="grp48"></div>


            <div class="opt" id="opt-1">
                <input type="hidden" name="option1" id="option1" value="grey">
                <img id="opt1-img" src="img/Rectangle23.png" alt="" onclick="green1()">
                <p onclick="green1()" style="font-size: 22px;width: 350px;">These systems' operations will be unaffected as we have power backup like UPS, Diesal Generator, etc.,</p>

            </div>
            <div class="opt" id="opt-2" id="green">
                <input type="hidden" name="option2" id="option2" value="grey">
                <img id="opt2-img" src="img/Rectangle23.png" alt="" onclick="green2()">
                <p onclick="green2()" style="font-size: 25px;width: 350px;">There is no power back up, hence these systems wont function incase of power outage. </p>
            </div>


            <button type="submit" id="submit"><img src="img/Group2142.png" alt=""></button>







        </div>


    </form>
    <script src="js/ques.js"></script>
</body>

</html>