<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index8.css">
    </style>
    <title>Quiz</title>
</head>

<body>
    <form action="/ques16" method="post">
        <div class="container">


            <div class="man"><img src="img/BusinessGuy.png" alt="" id="bGuy"></div>
            <div class="text-box"><img src="img/ques16.png" alt="" id="grp48"></div>


            <div class="opt" id="opt-1">
                <input type="hidden" name="option1" id="option1" value="grey">
                <img id="opt1-img" src="img/Rectangle23.png" alt="" onclick="green1()">
                <p style="font-size: 25px;width: 350px;" onclick="green1()">The system can detect and reject invalid session IDs</p>

            </div>
            <div class="opt" id="opt-2" id="green">
                <input type="hidden" name="option2" id="option2" value="grey">
                <img id="opt2-img" src="img/Rectangle23.png" alt="" onclick="green2()">
                <p style="font-size: 25px;width: 350px;" onclick="green2()">Session ID will get expired if the user logs out or the sesssion gets terminated.</p>
            </div>

            <div class="opt" id="opt-3" id="green">
                <input type="hidden" name="option3" id="option3" value="grey">
                <img id="opt3-img" src="img/Rectangle23.png" alt="" onclick="green3()">
                <p style="font-size: 25px;width: 350px;" onclick="green3()">Unique Session IDs are generated for each session</p>
            </div>

            <div class="opt" id="opt-4" id="green">
                <input type="hidden" name="option4" id="option4" value="grey">
                <img id="opt4-img" src="img/Rectangle23.png" alt="" onclick="green4()" >
                <p style="font-size: 25px;width: 350px;" onclick="green4()">Unique and Random Session IDs are generated using methods like random number generator, user interactions, or cyptographic salts.</p>
            </div>
            <div class="opt" id="opt-5">
                <input type="hidden" name="option5" id="option5" value="grey">


                <img id="opt5-img" src="img/Rectangle23.png" alt="" onclick="green5()" >
                <p style="font-size: 25px;width: 350px;" onclick="green5()">I am not sure if we have capabilities to prevent session hijacking / MiTM attack</p>
            </div>
            <button type="submit" id="submit"><img src="img/Group2142.png" alt=""></button>
        </div>
    </form>
    <script src="js/ques.js"></script>
</body>

</html>